<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
On August 5, 2015 the Logging Services Project Management Committee announced that
Log4j 1.x had reached end of life. For complete text of the announcement please
see the Apache Blog. Users of Log4j 1 are recommended to upgrade to
Apache Log4j 2.

https://blogs-he-de.apache.org/foundation/entry/apache_logging_services_project_announces
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Appenders -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--
            http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html
            -->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-25.25c{1} - %m%n"/>
        </layout>
    </appender>

    <!-- Categories -->
    <category name="org.adealsystems">
        <priority value="INFO"/>
    </category>

    <category name="org.apache">
        <priority value="WARN"/>
    </category>

    <category name="org.springframework">
        <priority value="INFO"/>
    </category>

    <!-- Spark-related -->

    <category name="org.spark">
        <priority value="WARN"/>
    </category>

    <category name="org.spark_project">
        <priority value="WARN"/>
    </category>

    <category name="org.apache.spark.executor.Executor">
        <!--
        This disables the "Managed memory leak detected;" messages.
        This is not at all ideal and not a fix of the memory issue!

        "The internet" suggests that those messages indicate a bug
        in Spark.

        https://stackoverflow.com/questions/34359211/debugging-managed-memory-leak-detected-in-spark-1-6-0#35463103
        https://stackoverflow.com/questions/48105826/spark-2-1-1-memory-leak-detected

        This issue is maybe (just maybe) the problem we are facing:
        https://issues.apache.org/jira/browse/SPARK-30443

        Since we can't do anything about this on our side, I opted to disable
        the messages for now since they otherwise clutter the output without any
        benefit.
        -->
        <priority value="ERROR"/>
    </category>

    <category name="io.netty">
        <priority value="WARN"/>
    </category>

    <!-- root category -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
